
/*-----------------------------------*\
        $RESET
\*-----------------------------------*/


* {
        margin: 0;
        padding: 0;
        position: relative;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

em{
    font-style: italic;
}

.hidden{
    display:none;
}

body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

strong{
    font-weight:700;
}


/*-----------------------------------*\
        $GRID
\*-----------------------------------*/

#container {
        /* Whatever you want. They’re your oats. */
        max-width: 100%;
        margin: 0 auto;
        padding: 0 0px;

}

img{
    width:100%;
    height:auto;
}

button:hover{
    cursor: pointer;
    background-color:#be460a !important;
}

button.learn:hover{
    background-color:#fff !important;
}





.unit {
        display: inline-block;
        *display: inline;
        *zoom: 1;
        vertical-align: top;
        /* Clearfix */
        overflow: hidden;
        *overflow: visible;
}


        

.span-grid {
        width:100%;
}

.one-of-two { 
    width: 47%; 
}

.one-of-three { 
    width: 30.36%; 
}

.two-of-three { 
    width: 65%; 
}

.one-of-four { 
    width: 22.05%; 
}
.three-of-four { 
    width: 72%; 
}

.one-of-five { 
    width: 17.07%; 
}
.two-of-five { 
    width: 37%; 
}
.three-of-five { 
    width: 57%; 
}
.four-of-five { 
    width: 77%; 
}



/*-----------------------------------*\
        $TYPE

        Works off the assumption of a 1.5
        line height @ 20px. Again, change
        as necessary.
\*-----------------------------------*/
body{
    font-family:'Lato', sans-serif;
}

p, .p, ul, ol, hr, table, form, pre,
h1, .alpha, h2, .beta {
        margin-bottom: 30px;
        margin-bottom: 1.5rem;
}

h1, .alpha {
        font-size: 60px;
        font-size: 3rem;
        font-weight: 700;
        line-height: 1;
}

h2, .beta {
        font-size: 30px;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 2;
}

h3, .gamma {
        font-size: 20px;
        font-size: 1rem;
        font-weight: 700;
}

hr {
        border: none;
        border-bottom: 1px solid rgba(0,0,0,.1);
        margin-top: -1px;
}

/*-----------------------------------*\
        $MAIN
\*-----------------------------------*/

header{
    width:1035px; /* 85% */
    margin:27px auto 27px auto;
}

header .two-of-two{
    float:right;

}

header .two-of-four{
    margin-left:3px;
}

header form label{
    float:left;
    font-size:.8em;
    color:#4e4e4e;
}

header input[type=text]{
    border-radius:4px;
    width:114px;
    height:24px;
    border: 1px solid;
    border-top-color:#a3a3a3;
    border-left-color: #bcbcbc;
    border-right-color: #bcbcbc;
    background-color: #f4f3f3;
    border-bottom-color: #e9e9e9;
    margin: 3px 15px 0px 0px;
    box-shadow: inset 0px -1px 1px 0px #fff;

}

header input[type=submit]{
    height:24px;
    background-color:#f26822;
    border-radius:4px;
    border-top:1px solid #bd3a00;
    border-left:1px solid #bd3a00;
    border-right:1px solid #bd3a00;
    border-bottom:inset #bd3a00;
    color:#fff;
    padding:0px 6px;
    font-family:'Lato', sans-serif;
    font-size:.8em;
    margin:15px 0px 0px 0px;
    padding-bottom:2px;
}

.mobile-login{
    display:none;
}

.mobile-login a{
    color:#444444;
    font-size: .9em;
    line-height:1.2em;
}



nav ul{
    margin-left:40px;
    font-size:1em;
}

nav ul a{
    float:left;
    font-weight:700;
    margin-right:42px;
}

nav ul a:last-child{
    margin-right:0px !important;
}

nav ul a li {
    color:#528e97;
   
    
}

nav ul a{
     text-decoration: none !important;
}

nav a#pull{
    display:none;
}

nav li:hover {
    color:#003f48;
}

.two-of-five.mobile-nav{
    display:none;
}

.content{
    width:1035px;
    margin:0px auto;
    position:relative;
}

.blue-whole{
    background-color:#b6eef6;
    border-radius: 10px 10px 10px 10px;
    -moz-box-shadow: 0 0 5px #444;
    -webkit-box-shadow: 0 0 5px #444;
    box-shadow: 0 0 5px #444;
    color:#585858;
    margin:40px 0px 0px 0px;
    float:left;

}

.blue-top{
    background-color:#b6eef6;
    border-radius: 10px 10px 0px 0px;
    min-height:200px;
    -moz-box-shadow: 0 0 5px #444;
    -webkit-box-shadow: 0 0 5px #444;
    box-shadow: 0 0 5px #444;
    color:#585858;
}

.blue-top ul{
    margin-top:0px;
}

.blue-top li{
    margin:0px 0px 12px 0px;
}

.span-grid .blue-top{
    display:none;
    width:100%;
    min-height:40px;
    border-radius: 10px 10px 10px 10px;
    padding:25px;
}

.align-right{
    float:right;
}

.one-of-two.blue-top{
    width:48.5%;
    margin-top:0px;
}

.content h1{
    
    font-weight:300;
    color:#838383;
    font-size:3.4375;
    margin:-10px 0px;
    z-index: 100;
    position:relative;
    top:15px;
    text-align: center;
    text-shadow: 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff, 0 0 30px #fff, 0 0 30px #fff, 0 0 30px #fff, 0 0 30px #fff, 0 0 30px #fff, 0 0 50px #fff, 0 0 50px #fff, 0 0 50px #fff, 0 0 50px #fff, 0 0 50px #fff, 0 0 50px #fff, 0 0 50px #fff, 0 0 50px #fff, 0 0 50px #fff, 0 0 50px #fff;

}



.blue-top img, .blue-whole img{
    margin-left:-10px;
    float:left;
    width:auto;

}

.blue-top.align-right img{
    float:right;
    margin:0px -15px 0px 0px !important;
    width:auto;

}

.three-of-four.job-seeker{
    text-align:right;
    position:absolute;
    right:25px;
    top:40px;
    font-size:.95em;

}

.three-of-four.employer{
    position:absolute;
    left:25px;
    top:40px;
    font-size:.95em;

}

.blue-top h2{
    font-weight:900;
    color:#d34d03;
    font-size:1.1875em;
    text-transform: uppercase;
    letter-spacing: .25em;
    margin-bottom:10px;
}

.blue-top strong span{
    color:#d34d03;
}

.blue-top button, form.signup input[type=submit]{
     font-family:'Lato', sans-serif;
    font-size: 1.5em;
    font-weight:400;
    color:#fff;
    background-color:#f26822;
    border-radius:4px;
    border-top:1px solid #bd3a00;
    border-left:1px solid #bd3a00;
    border-right:1px solid #bd3a00;
    border-bottom:inset #bd3a00;
    padding:12px 0px;
    width:267px;
    

}

.middle-column{
    margin:48px 0px 0px 5px;
    display:inline-block;
    color:#585858;
    font-weight: 700;
    font-size: 1.1875em;

}

.learn-holder{
    width:100%;
    text-align: center;
    position: absolute;
    bottom:25px;
}

h2.learn-holder-mobile{
    display:none;
    color:#444444;
    margin:20px 0px 20px 0px;
    text-align: center;
    width: 100%;

}

h2.learn-holder-mobile a{
    color:#444;
}

button.learn{
    font-family:'Lato', sans-serif;

    border:0px;
    border-radius: 3px;
    background-color:#fff;
    color:#f26822;
    text-decoration: underline;
    font-size: 1.4375em;
    padding:10px 30px;
    font-weight:400;
    -moz-box-shadow: 0 0 6px #b6b6b6;
    -webkit-box-shadow: 0 0 6px #b6b6b6;
    box-shadow: 0 0 6px #b6b6b6;
}

.video{
    background-color: #000;
    min-height:320px;
}

.one-of-three.signup{
    text-align:left;
    font-size:.95em;

}

.two-of-five h1{
    font-size:2.5em;
    text-align: left;
    position: static;
    margin:20px 0px 15px 24px;
    text-shadow: 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff, 0 0 30px #fff, 0 0 30px #fff;
}

.interior h2{
    font-size:1.25em;
    line-height: 1.3em;
    font-weight:600;
    margin:35px 0px 0px 0px;

}

 .three-of-five ul {
    list-style-type: square;
    padding:0;
    margin:0px 0px 10px 20px;
}

 .three-of-five li { 
    margin:15px 0px 0px 0px;
    color:#f26822;
    line-height:1.4em;
}

 .three-of-five li span{
    color:#444444;

 }

 .interior .one-of-three{
    width:31%;
    float:right;
    color:#585858;
    margin-top:40px;

 }

 form.signup input[type=text],  form.signup input[type=email],  form.signup input[type=password],  form.signup textarea{
    border-radius:6px;
    width:100%;
    height:40px;
    border: 1px solid;
    border-top-color:#a3a3a3;
    border-left-color: #bcbcbc;
    border-right-color: #bcbcbc;
    background-color: #f4f3f3;
    border-bottom-color: #e9e9e9;
    margin: 18px 15px 0px 0px;
    font-size:1em;
    padding-left:10px;
    box-shadow: inset 0px -1px 1px 0px #fff;
 }

 form.signup input[type=submit]{
    font-size:1.5em;
    margin-top:25px;
    float:right;
    width:80%;
    padding:8px 0px;
 }

 form.signup textarea{
    height:100px !important;
    text-align: left !important;
    padding-top:5px;
 }


.blue-bottom{
    background-color:#b6eef6;
    border-radius: 0px 0px 10px 10px;
    -moz-box-shadow: 0 0 5px #444;
    -webkit-box-shadow: 0 0 5px #444;
    box-shadow: 0 0 5px #444;
    color:#585858;
    font-size:.85em;
    text-align: center;
    min-height: 70px;
    padding-top:25px;
    margin-bottom:50px;
    width:48.5% !important;
}

.contact{
    background:url(images/contact.png) no-repeat bottom left #b6eef6;
    background-size: 110%, 100%;
    min-height:418px;
 
}

.contact p{
    margin:12px 0px;
    line-height:1.4em;
    color:#2c2c2c;
    
}

.contact p a{
   color:#2c2c2c;
   text-decoration: none;
}

.contact .three-of-five h1{
    display:none;
}

.employer-step, .employee-step{
        background-size: 105%;
        padding:15px 0px 0px 20px;
        min-height:646px;

}

.employer-step{
    background:url(images/how-it-works-employers.png) no-repeat bottom left #b6eef6;
    margin-right:62px;
   
}

.employee-step{
    background:url(images/how-it-works-jobseekers.png) no-repeat bottom left #b6eef6;
    
}

.employer-step p, .employee-step p{
    font-size: .875em;
    margin:0px 0px 12px 5px;
    float:left;
}


.employer-step h1, .employee-step h1 {
    text-align: left;
    margin:0px 0px 25px 0px !important;
    position:static;
    top:0px;

}


.employer-step h3, .employee-step h3{
    font-size:1.25em;
    margin:0px 0px 8px 5px;
}

.employer-step h1 span, .employee-step h1 span{
    font-style:italic;
    font-size: .5em;
}

.employer-step .one-of-two, .employee-step .one-of-two{
    width:44%;
    margin-right:25px;
}

.employer-step img, .employee-step img{
    border:4px solid #fff;
   -webkit-box-shadow: 0px 2px 5px 2px #999;
box-shadow: 0px 2px 5px 2px #999;
margin:0px 30px 10px 3px;
max-width: 96%;
}



footer a{
    color:#585858;;
}

.blue-bottom:last-child{
    float:right;
    height:20px !important;
}

footer ul {
    float:left;
}

footer ul:last-child{
    float:right;
    margin-right:15px;
}

footer ul li{
    float:left;
    margin:0px 20px;
}



footer ul.sm-icons li{
    margin:0px 2px !important;
}

footer .blue-bottom span a{
        color:#bd3a00;
        text-decoration: none;
        font-weight:600;
        margin-left:3px;
        display: none;

 }

 footer .two-of-three{
    font-size:.875em;
    text-align: left;
    margin:40px 0px;
    float:left;
 }

  footer .two-of-three ul{
    float:left;
    margin:0px;
    line-height: 1.5em;
  }

  footer .two-of-three ul li{
    margin:0px 15px 0px 0px;


  }


@media screen and (max-width: 1050px) {
    
    header, .content{
        width:97%;
    }

    nav ul a{
        margin-right:20px;
    }

    .blue-top img{
        margin-left:-30px;
    }

    .blue-top.align-right img {
        margin: 0px -30px 0px 0px !important;
    }

    .three-of-four.job-seeker, .three-of-four.employer{
        font-size:.9em;
    }

    .employee-step{
        float:right;
    }

    .employer-step{
        margin-right:0px;
    }
    .employer-step .one-of-two, .employee-step .one-of-two{
        margin-right:10px;
    }

}

@media screen and (max-width: 950px) {


    .blue-top.align-right img,  .blue-top img {
        display:none;
    }

    .one-of-two.blue-top{
        width:47.8%;
    }

    nav ul{
        margin-left:20px;
    }

    header .two-of-four{
        margin-left:0px;
        width:23%;
        height:auto;
        margin-top:10px;
        margin-bottom:5px;
    }

    .three-of-four.job-seeker, .three-of-four.employer{
        width:100%;
    }

    .one-of-two.blue-top{
        min-height:330px;
    }

    nav ul{
        font-size:.8em;
    }

    .two-of-five{
        width:35%;
    }

    .three-of-five.signup{
        float:right;
        margin-right:10px;
    }

    .interior .two-of-five {
        position:absolute;
        height:100%;
    }

    .interior .two-of-five img{
        width:100%;
        position:absolute;
        left:0px;
        bottom:0px;
        z-index:250;

    }

    .two-of-five h1{
        font-size: 2em;
    }

    footer ul li {
        margin-right:10px;
    }




}


@media screen and (max-width: 780px) {

    nav a#pull {
        display: block;
        width: 100%;
       
        

    }
    nav a#pull:after {
        content:"";
        background: url('images/nav-icon.png') no-repeat;
        width: 30px;
        height: 30px;
        display: inline-block;
    

    }

    nav ul {
        display: none;
        height: auto;
        float:none;
        padding-top:10px;
        margin:0px 0px 30px 0px;
    
    }


    nav ul a {
        float: none;
        display: block;
        margin: 0px 0px 15px 0px;
        font-size:1.2em;
        text-align: center;
        padding:0px 0px 15px 0px;
        border-bottom:1px solid #e8e8e8;
    }

     

    header .two-of-two form,  .two-of-five.desk-nav, .learn-holder, .blue-top, .content h1, .middle-column, .blue-bottom:last-child{
        display:none;
    }

    header .two-of-two{
         margin-top:-35px;

    }

    .mobile-login{
        display: inline-block;
       
    }

    

    nav{
        position:relative;
        height:300px;
        float:left;
       width: 100%;
        height: auto;
    }

    .two-of-five.mobile-nav, footer .one-of-two, .two-of-three.blue-whole{
        display:inline-block;
        width:100% !important;
    }


    header{
        margin:27px auto 10px auto;
    }

    header .two-of-four{
        margin-left:30%;
        margin-top:-35px;
        width:40%;
    }

    h2.learn-holder-mobile, .span-grid .blue-top,   .span-grid .blue-top img, footer .blue-bottom span a,  .two-of-five h1{
        display:inline-block;
    }

    .span-grid button{
        width:100%;
        float:none;
        display:block;
        margin:15px 0px;
        padding:0px;
        line-height:2.2em;
        font-size:2.5em;
        border-radius: 8px;
    }

     .span-grid .blue-top img{
        margin-left:20px;
     }

     .span-grid .blue-top img.align-right{
        float:right !important;
     }

     footer .blue-bottom{
        background-color:#fff;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        margin-top:30px;
     }

     footer ul:last-child{
        float:none;
     }

      .three-of-five ul {
        margin-bottom: 60px;
      }

      .interior .one-of-three {
        width:100%;
        float:none;
        display:block;
      }

      .interior footer .one-of-three {
        margin:0px 0px 20px 0px;
      }

      .interior footer .two-of-three{
        margin:50px 0px 20px 0px;
      }

      .employer-step h1, .employee-step h1 {
        display:block;
        font-size:2em;
      }




    



}



@media screen and (max-width: 650px) {
        html {
                font-size: 100%;
        }

         .span-grid button{
        font-size:1.5em;
        line-height:4em;
        }

      .grid {
                margin-left: 0;
                max-width: none;
        }

        .unit {
                width: auto;
                margin-left: 0;
                display: block;
        }

        .unit.one-of-two.blue-top{
            display:none;
        }

        .interior .two-of-five{
            position:relative;
        }

         .interior .two-of-five img{
            width:130px;
            position:static;
            float:left;
            
         }

         .two-of-five h1{
            font-size:2.5em;
            margin-top:90px;
            float:right;
            margin-right:30px;
         }

        .interior h2, .three-of-five ul{
            padding:0px 15px;


    }

    .contact .two-of-five h1{
        display:none;
    }

    .contact .three-of-five h1{
        display:block !important;
        margin:30px 0px 0px 15px !important;
        text-align: left !important;
        font-size: 2.5em;
    }

    .contact p{
        margin:12px 16px;
    }

    .one-of-two.employer-step, .one-of-two.employee-step{
        width:100%;
    }

    .employer-step .one-of-two, .employee-step .one-of-two{
        display:inline-block;
    }

    .employer-step, .employee-step{
        background-size:contain;
    }



}


@media screen and (max-width: 400px) {
    .span-grid button{
        font-size:1.5em;
        line-height:3em;
    }

   .span-grid .blue-top img {
        margin-left:0px;
        width:30%;
        height:auto;
    }

header .two-of-four{
        margin-left: 21%;
        width: 60%;
    }

     .two-of-five h1{
            font-size:2em;
            margin-top:90px;
         }

           .interior .two-of-five img{
            width:100px;
            position:relative;
            float:left;
            
         }

         .contact{
            background-image:none;
         }

          .employer-step .one-of-two, .employee-step .one-of-two{
        display:block;
        width:100%;
        }

         .employer-step .one-of-two p, .employee-step .one-of-two p, .employer-step .one-of-two img, .employee-step .one-of-two img{
            display:block;
            width:92%;
         }

          .employer-step h1, .employee-step h1{
            font-size:1.5em;
          }

           .employer-step h1 span, .employee-step h1 span{
            font-size:.7em;
           }

           .one-of-two.employer-step, .one-of-two.employee-step{
            padding-bottom:100px;
           }

       


}

